<div class="container">
    <h1>Share a Quote</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <div class="card mb-3">
            
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{quote.quote}}</p>
                <footer class="blockquote-footer">Author :    <cite title="Source Title">{{quote.author}}</cite></footer>
              </blockquote>
              <h6 appStrikethrough>{{quote.name}} posted on {{quote.completeDate | date}}</h6>
              <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
            </div>

            <div class = "card-footer" *ngIf='quote.showDescription'>
              <app-quotes-detail  [quote]='quote' (isComplete) = 'deleteQuote(i)'></app-quotes-detail>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)=save($event) ></app-quote-form>
      </div>
    </div>

    <p *ngIf='quotes.length > 6'>You have too many quotes</p>
  </div>
